<section class="text-center space-y-8 ">
  <div class="space-y-4">
    <h1 class="text-4xl font-bold text-[#595959]">Welcome to HyperTube</h1>
    <p class="text-lg text-[#7f7f7f] max-w-md mx-auto">
      Your premium streaming destination. Sign in to discover unlimited movies and series.
    </p>
  </div>

  <div class="flex flex-col sm:flex-row gap-4 justify-center max-w-sm mx-auto">
    <div
      routerLink="/login"
      class="cursor-pointer flex-1 px-6 py-3 border-2 border-[#cccccc] !text-[#595959] rounded-xl hover:bg-[#f2f2f2] focus:outline-none focus:ring-2 focus:ring-[#7f7f7f] focus:ring-offset-2 transition-all duration-200 font-medium no-underline flex gap-3 flex-row justify-center items-center"
    >
      Get Started
      <nz-icon class="text-[#595959]" nzType="arrow-right" nzTheme="outline" />
    </div>
  </div>
</section>
